<% provide(:title, @intern.nome) %>

<h1><%= @intern.nome %></h1>
<h2>Ano Comun</h2>
<div class="span6 offset3">
	<%= form_for([@intern, @intern.firstyear, @intern.firstyear.build_fycirurgy]) do |f| %>
		<fieldset>
			<legend>Cirurgia</legend>
			<%= f.label :healthcareunit_id, "Unidade de sáude" %>
			<%= f.collection_select :healthcareunit_id, Healthcareunit.order('nome'), :id, :nome %>
			<%= f.label :supervisor_id, "Orientador" %>
			<%= f.collection_select :supervisor_id, Supervisor.order('nome'), :id, :nome %>
			<%= f.label :data_inicio, "Data início" %>
			<%= f.date_select :data_inicio %>
			<%= f.label :data_fim %>
			<%= f.date_select :data_fim %>
			<%= f.label :nota %>
			<%= f.text_field :nota %>
		</fieldset>
		<%= f.submit 'Guardar', class: 'btn btn-success' %>
		<%= link_to "Voltar", @intern, class: 'btn' %>
	<% end %>
</div>