<tr>
	<% unless @intern.firstyear.fychoice.nil? %>
		<td><%= link_to @intern.firstyear.fychoice.fyoption.nome, edit_intern_firstyear_fychoice_path(@intern, @intern.firstyear, @intern.firstyear.fychoice) %></td>
		<td><%= @intern.firstyear.fychoice.healthcareunit.nome %></td>
		<% unless @intern.firstyear.fychoice.supervisor.nil? %>
			<td><%= @intern.firstyear.fychoice.supervisor.nome %></td>
		<% else %>
			<td>&nbsp;</td>
		<% end %>
		<td><%= @intern.firstyear.fychoice.data_inicio %></td>
		<td><%= @intern.firstyear.fychoice.data_fim %></td>
		<td><%= @intern.firstyear.fychoice.nota %></td>
	<% else %>
		<%= link_to "Opção", new_intern_firstyear_fychoice_path(@intern, @intern.firstyear), class: 'btn btn-primary' %>
	<% end %>
</tr>