<% provide(:title, @intern.nome) %>

<h1><%= @intern.nome %></h1>
<h2>Ano Comun</h2>
<div class="span6 offset3">
	<%= form_for([@intern, @intern.firstyear, @intern.firstyear.fychoice]) do |f| %>
		<fieldset>
			<legend>Editar <%= @intern.firstyear.fychoice.fyoption.nome %></legend>
			<%= f.label :healthcareunit_id, "Unidade de saúde" %>
			<%= f.collection_select :healthcareunit_id, Healthcareunit.order('nome'), :id, :nome %>
			<%= f.label :fyoption_id, "Opção" %>
			<%= f.collection_select :fyoption_id, Fyoption.order('nome'), :id, :nome %>
			<%= f.label :supervisor_id, "Orientador" %>
			<%= f.collection_select :supervisor_id, Supervisor.order('nome'), :id, :nome, include_blank: true %>
			<%= f.label :data_inicio %>
			<div class="datetimepicker input-append date">
				<%= f.text_field :data_inicio %>
				<span class="add-on">
      				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    			</span>
			</div>
			<%= f.label :data_fim %>
			<div class="datetimepicker input-append date">
				<%= f.text_field :data_fim %>
				<span class="add-on">
      				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    			</span>
			</div>
			<br /><small>A data de fim dever ser posterior à data de inicio</small>
			<%= f.label :nota %>
			<%= f.text_field :nota %>
		</fieldset>
		<%= f.submit 'Guardar', class: 'btn btn-success' %>
		<%= link_to "Voltar", @intern, class: 'btn' %>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.datetimepicker').datetimepicker({
			format: 'yyyy-MM-dd',
			pickTime: false
		});
	});
</script>