<% provide(:title, "Entrar") %>

<h1>Entrar</h1>
<div class="span6 offset3">
	<%= form_tag sessions_path do %>
		<fieldset>
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
  		</fieldset>
  		<div class="actions">
  			<%= submit_tag "Entrar", class: 'btn btn-success' %>
  		</div>
	<% end %>
</div>
