<%= form_for(@supervisor) do |f| %>
  <% if @supervisor.errors.any? %>
    <div id="error_explanation">
      <h2>O formulário tem<%= pluralize(@supervisor.errors.count, "erro") %></h2>

      <ul>
      <% @supervisor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
    <%= f.label :cedula_profissional %>
    <%= f.text_field :cedula_profissional %>
    <%= f.label :especialidade %>
    <%= f.text_field :especialidade %>
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
    <%= f.label :telemovel %>
    <%= f.text_field :telemovel %>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </fieldset>
  <%= f.submit "Guardar", class: 'btn btn-success' %>
  <%= link_to 'Cancelar', supervisors_path, class: 'btn' %>
  
<% end %>
