<% provide(:title, "Orientadores") %>

<div class="span10 offset1">
    <h1>Orientadores</h1>
    <div class="actions">
        <%= link_to 'Novo Orientador', new_supervisor_path, class: 'btn' %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>Telefone</th>
                <th>Telemóvel</th>
                <th>E-mail</th>
            </tr>
        </thead>

        <tbody>
            <% @supervisors.each do |supervisor| %>
                <tr>
                    <td><%= link_to supervisor.nome, edit_supervisor_path(supervisor) %></td>
                    <td><%= supervisor.especialidade %></td>
                    <td><%= supervisor.telefone %></td>
                    <td><%= supervisor.telemovel %></td>
                    <td><%= supervisor.email %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>