<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @supervisor.nome %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @supervisor.especialidade %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @supervisor.telefone %>
</p>

<p>
  <strong>Telemovel:</strong>
  <%= @supervisor.telemovel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supervisor.email %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
