<%= form_for(@fyoption) do |f| %>
  <% if @fyoption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fyoption.errors.count, "error") %> impediram este registo de ser guardado:</h2>

      <ul>
      <% @fyoption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, placeholder: 'Nome' %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
    <%= link_to 'Cancelar', fyoptions_path, class: 'btn' %>
  </div>
<% end %>
