<tr>
	<% unless @intern.firstyear.fypediatry.nil? %>
		<td><%= link_to "Pediatria", edit_intern_firstyear_fypediatry_path(@intern, @intern.firstyear, @intern.firstyear.fypediatry) %></td>
		<td><%= @intern.firstyear.fypediatry.healthcareunit.nome %></td>
		<td><%= @intern.firstyear.fypediatry.supervisor.nome %></td>
		<td><%= @intern.firstyear.fypediatry.data_inicio %></td>
		<td><%= @intern.firstyear.fypediatry.data_fim %></td>
		<td><%= @intern.firstyear.fypediatry.nota %></td>
	<% else %>
		<%= link_to "Pediatria", new_intern_firstyear_fypediatry_path(@intern, @intern.firstyear), class: 'btn btn-primary' %>
	<% end %>
</tr>