<%= form_for([@intern, @intern.build_firstyear]) do |f| %>
	<fieldset>
		<legend>Ano Comum</legend>
		<div class="span10 offset1">
			<%= f.text_field :ano, placeholder: 'Ano' %>
			<%= f.text_field :local, placeholder: 'Local' %>
			<%= f.text_area :observacoes, placeholder: 'Observações' %>
		</div>
	</fieldset>
	<%= f.submit "Criar Ano Comum", class: 'btn btn-success' %>
<% end %>