<% provide(:title, @intern.nome) %>

<div class="span10 offset1">
    <h1><%= @intern.nome %></h1>
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span4">
                <dl>
                    <dt>Numero mecanográfico:</dt>
                    <dd><%= @intern.numero_mecanografico %><dd>
                    <dt>Cédula Profissional:</dt>
                    <dd><%= @intern.cedula_profissional %></dd>
                </dl>
            </div>
            <div class="span4">
                <dl>
                    <dt>Telefone:</dt>
                    <dd><%= @intern.telefone %></dd>
                    <dt>Telemóvel:</dt>
                    <dd><%= @intern.telemovel %></dd>
                </dl>
            </div>
            <div class="span4">
                <dl>
                    <dt>E-mail:</dt>
                    <dd><%= @intern.email %></dd>
                </dl>
            </div>
        </div>
        <%= link_to 'Editar', edit_intern_path(@intern), class: 'btn' %>
        <%= link_to 'Voltar', interns_path, class: 'btn' %>
    </div>
    
    <div class="well well-small">
        <div class="row-fluid">
            <% unless @intern.firstyear.nil? %>
                <%= render 'show_first_year' %>
            <% else %>
                <div id="btnCriarAnoComum" class="btn">Criar Ano Comum</div>
                <div id="addcomumyear" style="display:none;">
                    <%= render 'create_first_year' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="well">
        <div id="btnCriarEspecialidade", class="btn">
            Criar Especialidade
        </div>
        <div id="addinternship" style="display:none;">
            <%= render 'create_internship' %>
        </div>
        <%= render 'show_internships' %>
    </div>

</div>
<script>
  $("#btnCriarAnoComum").click(function() {
    $("#addcomumyear").fadeToggle("slow");
    $("#btnCriarAnoComum").fadeOut("fast");
  });
  $("#btnCriarEspecialidade").click(function() {
    $("#addinternship").fadeToggle("slow");
  });
</script>