<%= form_for(@intern) do |f| %>
  <% if @intern.errors.any? %>
    <div id="error_explanation">
      <h2>O formulário tem <%= pluralize(@intern.errors.count, "erro") %></h2>

      <ul>
      <% @intern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
    <%= f.label :numero_mecanografico, "Numero mecanográfico" %>
    <%= f.text_field :numero_mecanografico %>
    <%= f.label :cedula_profissional %>
    <%= f.text_field :cedula_profissional %>
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
    <%= f.label :telemovel %>
    <%= f.text_field :telemovel %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :nota_media %>
    <%= f.text_field :nota_media %>
    <%= f.label :nota_final_exame %>
    <%= f.text_field :nota_final_exame %>
  </fieldset>
  <%= f.submit "Guardar", class: 'btn btn-success' %>
  <%= link_to "Cancelar", interns_path, class: 'btn' %>
<% end %>