<% provide(:title, "Lista de Internos") %>

<h1>Lista de Internos</h1>
<div class="span10 offset1">
    <%= render 'searchform' %>
	<%= link_to 'Novo Interno', new_intern_path, class: 'btn btn-primary' %>
    <%= will_paginate @interns %>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Numero mecanográfico</th>
                <th>Telefone</th>
                <th>Telemovel</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% @interns.each do |intern| %>
                <tr>
                    <td><%= link_to intern.nome, intern, class: 'btn btn-link' %></td>
                    <td><%= intern.numero_mecanografico %></td>
                    <td><%= intern.telefone %></td>
                    <td><%= intern.telemovel %></td>
                    <td><%= intern.email %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @interns %>
</div>