<% provide(:title, @intern.nome) %>

<div class="span10 offset1">
	<div class="row-fluid">
		<div class="span6">
			<h1><%= @intern.nome %></h1>
			<%= link_to 'Editar', edit_intern_path(@intern), class: 'btn btn-mini' %>
			<%= link_to 'Eliminar', @intern, method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn  btn-mini btn-danger' %>
			<% if @intern.firstyear.nil? %>
				<%= link_to 'Ano Comum', new_intern_firstyear_path(@intern), class: 'btn btn-mini' %>
			<% end %>
			<%= link_to 'Especialidade', new_intern_internship_path(@intern), class: 'btn btn-mini' %>
		</div>   
		<div class="span6"> 
			<dl class="dl-horizontal">
				<dt>N. mecanográfico:</dt>
				<dd><%= @intern.numero_mecanografico %><dd>
				<dt>Cédula Profissional:</dt>
				<dd><%= @intern.cedula_profissional %></dd>
				<dt>Telefone:</dt>
				<dd><%= @intern.telefone %></dd>
				<dt>Telemóvel:</dt>
				<dd><%= @intern.telemovel %></dd>
				<dt>E-mail:</dt>
				<dd><%= @intern.email %></dd>
			</dl>
		</div>
	</div>
	<br />
	
	<% unless @intern.firstyear.nil? %>
		<%= render 'firstyears/showfirstyear' %>
	<% end %>

	<%= render 'internships/showinternships' %>
</div>