<% provide(:title, @intern.nome) %>

<h1>Dr(a). <%= @intern.nome %></h1>
<div class="span10 offset1">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>N. mecanográfico</th>
				<th>Cédula Profissional</th>
				<th>Telefone</th>
				<th>Telemóvel</th>
				<th>E-mail</th>
				<th>Nota média</th>
				<th>Nota final</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @intern.numero_mecanografico %></td>
				<td><%= @intern.cedula_profissional %></td>
				<td><%= @intern.telefone %></td>
				<td><%= @intern.telemovel %></td>
				<td><%= @intern.email %></td>
				<td><%= @intern.nota_media %></td>
				<td><%= @intern.nota_final_exame %></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group">
		<%= link_to 'Editar', edit_intern_path(@intern), class: 'btn' %>
		<%= link_to 'Eliminar', @intern, method: :delete, data: { confirm: 'Tem a certeza?'}, class: 'btn btn-danger' %>
		<% if @intern.firstyear.nil? %>
			<%= link_to 'Introduzir ano comum', new_intern_firstyear_path(@intern), class: 'btn btn-primary' %>
		<% end %>
		<%= link_to 'Introduzir novo estágio', new_intern_internship_path(@intern), class: 'btn btn-primary' %>
		<%= link_to "Voltar à lista de internos", interns_path, class: 'btn btn-link' %>
	</div>
	<% unless @intern.firstyear.nil? %>
		<div class="row-fluid">
			<div class="well well-small">
				<%= render 'firstyears/show' %>
			</div>
		</div>
	<% end %>
	<div class="row-fluid">
		<%= render 'internships/show' %>
	</div>
</div>