<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @intern.nome %>
</p>

<p>
  <strong>Numero mecanografico:</strong>
  <%= @intern.numero_mecanografico %>
</p>

<p>
  <strong>Cedula Profissional:</strong>
  <%= @intern.cedula_profissional %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @intern.telefone %>
</p>

<p>
  <strong>Telemovel:</strong>
  <%= @intern.telemovel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intern.email %>
</p>

<%= link_to 'Edit', edit_intern_path(@intern) %> |
<%= link_to 'Back', interns_path %>

<hr />

<% unless @intern.firstyear.nil? %>
  <%= render 'show_first_year' %>
<% else %>
  <div id="btnCriarAnoComum">Criar Ano Comum</div>
  <div id="addcomumyear" style="display:none;">
    <%= render 'create_first_year' %>
  </div>
<% end %>

<hr />
<div id="btnCriarEspecialidade">Criar Especialidade</div>
  <div id="addinternship" style="display:none;">
    <%= render 'create_internship' %>
  </div>

<%= render 'show_internships' %>

<script>
  $("#btnCriarAnoComum").click(function() {
    $("#addcomumyear").fadeToggle("slow");
  });
  $("#btnCriarEspecialidade").click(function() {
    $("#addinternship").fadeToggle("slow");
  });
</script>