<% provide(:title, @intern.nome) %>

<div class="span10 offset1">
	<ul class="nav nav-pills">
		<li class="active"><%= link_to "Voltar à lista de internos", interns_path %></li>
		<li><%= link_to 'Editar', edit_intern_path(@intern) %></li>
		<li><%= link_to 'Eliminar', @intern, method: :delete, data: { confirm: 'A eliminação é irreversível. Tem a certeza?'} %></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Internatos<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<% if @intern.firstyear.nil? %>
					<li><%= link_to 'Introduzir ano comum', new_intern_firstyear_path(@intern) %></li>
				<% end %>
				<li><%= link_to 'Introduzir novo estágio', new_intern_internship_path(@intern) %></li>
			</ul>
		</li>
	</ul>
	<%= render 'show' %>
	<% unless @intern.firstyear.nil? %>
		<div class="row-fluid">
			<div class="well well-small">
				<%= render 'firstyears/show' %>
			</div>
		</div>
	<% end %>
	<div class="row-fluid">
		<%= render 'internships/show' %>
	</div>
</div>