<% provide(:title, @intern.nome) %>

<div class="span10 offset1">
	<div class="row-fluid">
		<div class="span5">
			<h1><%= @intern.nome %></h1>
		</div>   
		<div class="span5"> 
			<dl class="dl-horizontal">
				<dt>N. mecanográfico:</dt>
				<dd><%= @intern.numero_mecanografico %><dd>
				<dt>Cédula Profissional:</dt>
				<dd><%= @intern.cedula_profissional %></dd>
				<dt>Telefone:</dt>
				<dd><%= @intern.telefone %>&nbsp;</dd>
				<dt>Telemóvel:</dt>
				<dd><%= @intern.telemovel %>&nbsp;</dd>
				<dt>E-mail:</dt>
				<dd><%= @intern.email %>&nbsp;</dd>
				<dt>Nota média:</dt>
				<dd><%= @intern.nota_media %>&nbsp;</dd>
				<dt>Nota final:</dt>
				<dd><%= @intern.nota_final_exame %></dd>
			</dl>
		</div>
		<div class="span2">
			<%= link_to 'Editar', edit_intern_path(@intern), class: 'btn btn-block' %>
			<%= link_to 'Eliminar', @intern, method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn  btn-block btn-danger' %>
			<% if @intern.firstyear.nil? %>
				<%= link_to 'Ano Comum', new_intern_firstyear_path(@intern), class: 'btn btn-block' %>
			<% end %>
			<%= link_to 'Especialidade', new_intern_internship_path(@intern), class: 'btn btn-block' %>
		</div>
	</div>
	<div class="row-fluid well">
		<% unless @intern.firstyear.nil? %>
			<%= render 'firstyears/showfirstyear' %>
		<% end %>
	</div>
	<div class="row-fluid well">
		<%= render 'internships/showinternships' %>
	</div>
</div>