<div class="span12">
	<% @internships.each do |internship| %>
		<div class="row-fluid">
			<div class="span10">
				<h2>Estágio de especialidade de <%= internship.nome %></h2>
			</div>
			<div class="span2">
				<%= link_to "Editar", edit_intern_internship_path(@intern, internship), class: 'btn btn-mini btn-block' %>
				<%= link_to "Eliminar", [internship.intern, internship], method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn btn-danger btn-mini btn-block' %>
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Estado</th>
					<th>Nota</th>
					<th>Orientador</th>
					<th>U. Saúde</th>
					<th>Serviço</th>
					<th>Data início</th>
					<th>Data fim</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= internship.estado %></td>
					<td><%= internship.nota %></td>
					<td><%= internship.supervisor.nome %></td>
					<td><%= internship.healthcareunit.nome %></td>
					<td><%= internship.service.nome %></td>
					<td><%= internship.data_inicio %></td>
					<td><%= internship.data_fim %></td>
				</tr>
				<tr>
					<td colspan="7"><%= internship.observacoes %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
</div>