<div class="span12 well well-small">
	<h2>Estágios de especialidade</h2>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Estado</th>
					<th>Nota</th>
					<th>U. Saúde</th>
					<th>Serviço</th>
					<th>Início</th>
					<th>Fim</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @internships.each do |internship| %>
				<tr >
					<td><%= link_to internship.nome, edit_intern_internship_path(@intern, internship) %></td>
					<td><%= internship.estado %></td>
					<td><%= internship.nota %></td>
					<% unless internship.healthcareunit.nil? %>
						<td><%= internship.healthcareunit.nome %></td>
					<% else %>
						<td></td>
					<% end %>
					<td><%= internship.service.nome %></td>
					<td><%= internship.data_inicio %></td>
					<td><%= internship.data_fim %></td>
					<td>
						<%= link_to "Eliminar", [internship.intern, internship], method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn btn-danger btn-mini' %></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="8"><%= internship.observacoes %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	
</div>