<% @internships.each do |internship| %>
	<div class="row-fluid well">
		<div class="span4">
			<legend><%= internship.nome %></legend>
			<dl>
				<dt>Estado</dt>
				<dd><%= internship.estado %></dd>
				<dt>Nota</dt>
				<dd><%= internship.nota %></dd>
			</dl>
			<%= link_to "Editar", edit_intern_internship_path(@intern, internship), class: 'btn btn-mini' %>
			<%= link_to "Eliminar", [internship.intern, internship], method: :delete, data: { confirm: 'Tem a certeza?' }, class: 'btn btn-danger btn-mini' %>
		</div>
		<div class="span8">
			<dl class="dl-horizontal">
				<dt>Orientador</dt>
				<dd><%= internship.supervisor.nome %></dd>
				<dt>Unidade de Saúde</dt>
				<dd><%= internship.healthcareunit.nome %></dd>
				<dt>Serviço</dt>
				<dd><%= internship.service.nome %></dd>
				<dt>Data início</dt>
				<dd><%= internship.data_inicio %></dd>
				<dt>Data fim</dt>
				<dd><%= internship.data_fim %></dd>
				<dt>Observações </dt>
				<dd><%= internship.observacoes %></dd>
			</dl>
		</div>
		<div class="text-left">
			
		</div>
	</div>
<% end %>