<% provide(:title, "Novo Estágio de Especialidade") %>

<h1><%= @intern.nome %></h1>
<div class="span6 offset3">
	<%= form_for([@intern, @intern.internships.build]) do |f| %>
		<fieldset>
			<legend>Novo Estágio de Especialidade</legend>
			<%= f.label :nome, "Nome do estágio" %>
			<%= f.text_field :nome, placeholder: 'Nome do estágio' %>
			<%= f.label :supervisor_id, "Orientador" %>
			<%= f.collection_select :supervisor_id, Supervisor.order('nome'), :id, :nome %>
			<%= f.label :healthcareunit_id, "Unidade de Saúde" %>
			<%= f.collection_select :healthcareunit_id, Healthcareunit.order('nome'), :id, :nome %>
			<%= f.label :service_id, "Serviço" %>
			<%= f.collection_select :service_id, Service.order('nome'), :id, :nome %>
			<%= f.label :estado %>
			<%= f.select :estado, options_for_select(["Pedido", "Aceite", "Recusado", "Alterado"]) %>
			<%= f.label :data_inicio, "Data início" %>
			<%= f.date_select :data_inicio %>
			<%= f.label :data_fim %>
			<%= f.date_select :data_fim %>
			<%= f.label :nota %>
			<%= f.text_field :nota, placeholder: 'Nota' %>
			<%= f.label :observacoes, 'Observações' %>
			<%= f.text_area :observacoes, placeholder: 'Observações' %>
		</fieldset>
		<%= f.submit "Guardar", class: 'btn btn-success' %>
		<%= link_to "Voltar", @intern, class: 'btn' %>
	<% end %>
</div>