<%= form_for(@healthcareunit) do |f| %>
  <% if @healthcareunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healthcareunit.errors.count, "error") %> prohibited this healthcareunit from being saved:</h2>

      <ul>
      <% @healthcareunit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, placeholder: 'Nome' %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' , class: 'btn btn-success' %>
    <%= link_to 'Cancelar', healthcareunits_path, class: 'btn' %>
  </div>
<% end %>