<h1>Listing healthcareunits</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @healthcareunits.each do |healthcareunit| %>
      <tr>
        <td><%= healthcareunit.nome %></td>
        <td><%= link_to 'Show', healthcareunit %></td>
        <td><%= link_to 'Edit', edit_healthcareunit_path(healthcareunit) %></td>
        <td><%= link_to 'Destroy', healthcareunit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Healthcareunit', new_healthcareunit_path %>
