<% provide(:title, "Novo Ano Comum") %>

<h1><%= @intern.nome %></h1>
<div class="span6 offset3">
	<%= form_for([@intern, @intern.build_firstyear]) do |f| %>
		<fieldset>
			<legend>Novo Ano Comum</legend>
			<%= f.label :ano %>
			<%= f.text_field :ano, placeholder: 'Ano' %>
			<%= f.label :local %>
			<%= f.text_field :local, placeholder: 'Local', value: 'ULS Nordeste' %>
			<%= f.label :observacoes, "Observações" %>
			<%= f.text_area :observacoes, placeholder: 'Observações' %>
		</fieldset>
		<%= f.submit 'Guardar', class: 'btn btn-success' %>
		<%= link_to "Voltar", @intern, class: 'btn' %>
	<% end %>
</div>