<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			
				<div class="brand"></div>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><%= link_to "Estagiários", interns_path %></li>
						<li><%= link_to "Orientadores", supervisors_path %></li>
						<li><%= link_to "Opção Ano Comum", fyoptions_path %></li>
						<li><%= link_to "Unidades de Saúde", healthcareunits_path %></li>
						<li><%= link_to "Serviços", services_path %></li>
					</ul>
				</div>
			
		</div>
	</div>
</header>