<!DOCTYPE html>
<html>
<head>
  <title>Internato Médico | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>

	<%= render 'layouts/flash' %>
	<div class="row-fluid">
		<%= yield %>
	</div>

	<%= debug(params) if Rails.env.development? %>

</body>
</html>
