<!DOCTYPE html>
<html>
<head>
  <title>Internato Médico | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" media="print" href="print.css">
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/flash' %>
	
	<div class="row-fluid">
		<%= yield %>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<%= render 'layouts/footer' %>
			<% debug(params) if Rails.env.development? %>
		</div>
	</div>
</body>
</html>
